.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--med-color-neutral-1);
  position: fixed;
  bottom: 0;
}


.container__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  & > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    list-style-type: none;
  }
  & > ul > li > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    & > span {
      width: 100%;
      white-space: nowrap;

    }
  }
  & > ul > li > a:hover {
    cursor: pointer;
  }
}

.container__navigation__icon {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  align-self: center;
}

.container__navigation__text {
  font-size: 10px;
  font-weight: 600;
  color: var(--med-color-neutral-10);
  text-align: center;
  width: 50px;
}

.container__navigation--activate {
  color: var(--med-color-brand-4);
}

@media (max-width: 400px) {
  .container__navigation {
    & > ul {
      width: auto;
      gap: 15px;
    }
  }
}
