<aside class="container">
  <nav class="container__navigation">
    <ul>
      <li>
        <a routerLinkActive="container__navigation--activate" routerLink="home" #homeActive="routerLinkActive">
          <mat-icon class="container__navigation__icon" [svgIcon]="homeActive.isActive ? 'icon-home-active' : 'icon-home'" aria-label="Ícone de Casa"></mat-icon>
          <span class="container__navigation__text" routerLinkActive="container__navigation--activate">Pra você</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="container__navigation--activate" routerLink="contents" #treiningActive="routerLinkActive">
          <mat-icon class="container__navigation__icon" [svgIcon]="treiningActive.isActive ? 'icon-play-active' : 'icon-play'" aria-label="Ícone de Play"></mat-icon>
          <span class="container__navigation__text" routerLinkActive="container__navigation--activate">Conteúdos</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="container__navigation--activate" routerLink="mentoring" #mentoringActive="routerLinkActive">
          <mat-icon class="container__navigation__icon" [svgIcon]="mentoringActive.isActive ? 'icon-mentoring-active' : 'icon-mentoring'" aria-label="Ícone de Calendário"></mat-icon>
          <span class="container__navigation__text" routerLinkActive="container__navigation--activate">Mentoria</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="container__navigation--activate" routerLink="training" #trainingActive="routerLinkActive">
          <mat-icon class="container__navigation__icon" [svgIcon]="trainingActive.isActive ? 'icon-training-active' : 'icon-training'" aria-label="Ícone de Treinamento"></mat-icon>
          <span class="container__navigation__text" routerLinkActive="container__navigation--activate">Treinamento</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="container__navigation--activate" routerLink="metrics" #metricsActive="routerLinkActive">
          <mat-icon class="container__navigation__icon" [svgIcon]="metricsActive.isActive ? 'icon-metrics-active' : 'icon-metrics'" aria-label="Ícone em formato de Gráficos em Barras"></mat-icon>
          <span class="container__navigation__text" routerLinkActive="container__navigation--activate">Métricas</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
