<section class="container__card__section" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave()" (mouseup)="onMouseUp()" (mousemove)="onMouseMove($event)">
  <div *ngFor="let content of contentList">
    <figure class="container__card__background">
      <mat-icon class="container__card__image" svgIcon="card" aria-label="Um cartão com 3 corações"></mat-icon>
      <span class="container__card__short">{{content.short}}</span>
    </figure>
    <section class="container__card__content">
      <h2 class="container__card__header">{{content.header}}</h2>
      <div class="container__card__affix">
        <section class="container__card__affix__section">
          <div class="container__card__affix__header">
            <mat-icon class="container__card__affix__icon" svgIcon="icon-play" aria-label="Ícone de Play"></mat-icon>
            <span class="container__card__affix__text">Aulas</span>
          </div>
          <span class="container__card__affix__percent">{{content.affix[0].aulas}}</span>
        </section>
        <section class="container__card__affix__section">
          <div class="container__card__affix__header">
            <mat-icon class="container__card__affix__icon" svgIcon="icon-book" aria-label="Ícone de Livro"></mat-icon>
            <span class="container__card__affix__text">Apostila</span>
          </div>
          <span class="container__card__affix__percent">{{content.affix[1].apostila}}</span>
        </section>
        <section class="container__card__affix__section">
          <div class="container__card__affix__header">
            <mat-icon class="container__card__affix__icon" svgIcon="icon-question" aria-label="Ícone de Checkbox"></mat-icon>
            <span class="container__card__affix__text">Questões</span>
          </div>
          <span class="container__card__affix__percent">{{content.affix[2].questoes}}</span>
        </section>
      </div>
    </section>
  </div>
</section>
